extends layout

block content
  header
    ul 
      li.one 
        .goog
          .googimg
            img(src="https://www.google.com/images/srpr/logo11w.png")
      li.two
        .search
          .searchb
            img(src="img/mag.png")
      li.three
        .apps
          img(src="img/apps.png")
      li.four
        .signin Sign In
  .subhead
    ul
      li.onesub 
        a(href="#")
          p Web
      li.onesub 
        a(href="#")
          p Shopping
      li.onesub 
        a(href="#")
          p Videos
      li.onesub 
        a(href="#")
          p Images
      li.onesub 
        a(href="#")
          p News
      li.onesub 
        a(href="#")
          p More
          .tri
      li
        a(href="#")
          p Search Tools
  .results
    .content
      p About 4,120,000 results (0.13 seconds)
      ul
        li
          ul.post 
            li
              a(href="#") With zero coding experience, artist building 180 webpages ...
            li
              a(href="#").green
                ul
                  li
                    p arstechnica.com/.../with-zero-coding-experience-artist-build...
                  li
                    .tri
              a(href="#").grey 
                ul
                  li 
                    p Ars Technica
                  li 
                    .tri1
            li
              p.small Jul 26, 2013 - 117 days ago, having never done any programming in her life, Jennifer Dewalt built her first webpage. The next day, she built another, and she ...
        li
          ul.post 
            li
              a(href="#") Build Your Own Webpage | Codecademy
            li
              a(href="#").green
                ul
                  li
                    p www.codecademy.com/courses/web-beginner-en-LceTK
                  li
                    .tri
              a(href="#").grey 
                ul
                  li 
                    p Codecademy
                  li 
                    .tri1
            li
              p.small Build Your Own Webpage. What you'll be making. Before we ask you to write a bunch of code, we think it's helpful for you to see exactly what you'll be making in ...
        li
          ul.post 
            li
              a(href="#") How Do We Know They Need This Webpage? | Inc.com
            li
              a(href="#").green
                ul
                  li
                    p www.inc.com/...build.../how-do-we-know-they-need
                  li
                    .tri
              a(href="#").grey 
                ul
                  li 
                    p Inc.
                  li 
                    .tri1
            li
              p.small Aug 2, 2013 - During a recent visit to HubSpot's headquarters, members of the Build team got to see the remnants of one of the inbound marketing firm's ...
        li
          ul.post 
            li
              a(href="#") BuiltWith Technology Lookup
            li
              a(href="#").green
                ul
                  li
                    p builtwith.com/
                  li
                    .tri
              a(href="#").grey 
                ul
                  li 
                    //- p Inc.
                  li 
                    //- .tri1
            li
              p.small Web technology information profiler tool. Find out what a website is built with.
        li
          ul.post 
            li
              a(href="#") [GWT] Contributting
            li
              a(href="#").green
                ul
                  li
                    p www.gwtproject.org/makinggwtbetter.html
                  li
                    .tri
              a(href="#").grey 
                ul
                  li 
                    p Toolkit
                  li 
                    .tri1
            li
              p.small Contributing to Webpage & Documentation ... for users by enabling developers to use existing Java tools to build no-compromise AJAX for any modern browser.
        li
          ul.post 
            li
              a(href="#") WIX.com: Free Website Builder | Create a Free Website
            li
              a(href="#").green
                ul
                  li
                    p www.wix.com/
                  li
                    .tri
              a(href="#").grey 
                ul
                  li 
                    p Wix.com
                  li 
                    .tri1
            li
              p.small Create a free website with Wix.com. Customize with Wix' free website builder, no coding skills needed. Choose a design, begin customizing and be online today!
        li
          ul.post 
            li
              a(href="#") Professional Links regarding Rheumatoid Arthritis and ...
            li
              a(href="#").green
                ul
                  li
                    p www.livingwithrheumatoidarthritis.com/ProfessionalLinks.html
                  li
                    .tri
              a(href="#").grey 
                ul
                  li 
                    //- p Wix.com
                  li 
                    //- .tri1
            li
              p.small When I decided to build this webpage I had never attempted anything of this type before. Without the help of Site Build It this task would have been out of my ...
        li
          ul.post 
            li
              a(href="#") Wild Cities - Page 27 - Google Books Result
            li
              a(href="#").green
                ul
                  li
                    p https://books.google.com/books?isbn=1433383136
                  li
                    .tri
              a(href="#").grey 
                ul
                  li 
                    //- p Wix.com
                  li 
                    //- .tri1
            li
              p.small Animal Architects: How Mammals Build Their Amazing Homes. ... Eið Rids http://www.biokids.umich.edu/guides tracks and sign/build This webpage provides ...
        li
          ul.post 
            li
              a(href="#") New Website Shows How Anyone Can Create a ... - Reuters
            li
              a(href="#").green
                ul
                  li
                    p www.reuters.com/article/.../idUSnHUGdl6D+71+ONE20131028
                  li
                    .tri
              a(href="#").grey 
                ul
                  li 
                    p Reuters
                  li 
                    .tri1
            li
              p.small Thanks for a new free website just launched, business owners and entrepreneurs can follow a simple step by step tutorial to build their own ...
        li
          ul.post 
            li
              a(href="#") How to Make a Website | Step-by-Step Tutorial
            li
              a(href="#").green
                ul
                  li
                    p websitesetup.org/
                  li
                    .tri
              a(href="#").grey 
                ul
                  li 
                    //- p Reuters
                  li 
                    //- .tri1
            li
              p.small Learn how to make a website and set it up. This site contains different tutorials on how to build a website using WordPress, Joomla, Drupal & HTML.
  .related
    p Searches related to build webpage
    .linkrelated
      ul
        a(href="#")
          li how to build
        a(href="#")
          li build a website for free
        a(href="#")
          li how to build a webpage for free
        a(href="#")
          li how to create a webpage
        a(href="#")
          li build a webpage google
        a(href="#")
          li how to build a webpage with html
        a(href="#")
          li how to build a web page for free
        a(href="#")
          li build your own webpage
  .pagination
    h3 Pages
    ul
      li
        a(href="#") 1
      li
        a(href="#") 2
      li
        a(href="#") 3
      li
        a(href="#") 4
      li
        a(href="#") 5
      li
        a(href="#") 6
      li
        a(href="#") 7
      li
        a(href="#") 8
      li
        a(href="#") 9
      li
        a(href="#") 10
  .footer
    .footercontent
      p Tucson, AZ - From your Internet address - Use precise location - Learn More
      ul
        li 
          a(href="#") Help
        li 
          a(href="#") Send feedback
        li 
          a(href="#") Privacy
        li 
          a(href="#") Terms